<ion-header>
    <ion-title><header></header></ion-title>
</ion-header>


<ion-content >
    <div class="grade">
        <ion-item (click)="reset()" class="editinput" >
            <ion-label>المرحلة</ion-label>
            <ion-select >
              <ion-option (ionSelect)="getSelectedGrade(grade)" *ngFor="let grade of gradeArr;let i=index"  value={{grade.grade[i]}} required>{{grade.grade}}</ion-option>
            
            </ion-select>
          </ion-item>
              <ion-item *ngIf="grade_id!=''" class="editinput" >
                <ion-label>السنة الدراسية</ion-label>
                <ion-select >
                  <ion-option (ionSelect)="getSelectedYear(year)" *ngFor="let year of yearsArr;let i=index"  value={{year.year[i]}} required>{{year.year}}</ion-option>
                
                </ion-select>
              </ion-item>
              <ion-item   *ngIf="year_id!=''" class="editinput" >
                <ion-label>المواد</ion-label>
                <ion-select >
                  <ion-option (ionSelect)="getSelectedSubject(subject)" *ngFor="let subject of subjectsArr;let i=index"  value={{subject.name[i]}} required>{{subject.name}}</ion-option>
                
                </ion-select>
              </ion-item>
        </div>
  <div style="
  margin-top: 70px;">
    <div class="topdiv">
      <p>الاسبوع الاول</p>
      <p (click)="golessons()"><img src="assets/imgs/lesson.png"></p>
      <p (click)="gotoexams()"><img src="assets/imgs/exam.png"></p>
    </div>
    <div class="topdiv">
      <p> ا لاسبوع الثانى</p>
      <p (click)="golessons()"><img src="assets/imgs/lesson.png"></p>
      <p (click)="gotoexams()"><img src="assets/imgs/exam.png"></p>
    </div>
  </div>

</ion-content>
