<ion-header>
    <ion-title><header></header></ion-title>
</ion-header>


<ion-content >
     
    <div class="topdiv">
                <p class="divtitle">{{grade}} </p>
                <ion-item  class="editinput" >
                    <ion-label>اختار المادة</ion-label>
                    <ion-select >
                        <ion-option   (ionSelect)="selectSubject( subj )"   *ngFor="let subj of subs;
                        let i=index"  value={{subj.name}}>{{subj.name}}
                           </ion-option>
                       
                    </ion-select>
                </ion-item>
                <form #f="ngForm">

                <ion-textarea [(ngModel)]="questionText" name="questionText" 
                class="question"
                 placeholder="اكتب سؤالك هنا">
                </ion-textarea>

                <ion-row style="text-align:center">
                    <ion-col col-6>
                        <div (click)='record()'>
                            <img src="assets/imgs/uploadvioce.png"><br>
                            <p>اضافة ملف صوت</p>
                        </div>
                    </ion-col>
                    <!-- <ion-col col-3> -->

                  
<!-- </ion-col> -->
                           <ion-col col-6>
                            <div (click)="addImage()">
                                <img *ngIf="image ==''" src="assets/imgs/uploadimg.png">
                                <img *ngIf="image !=''" src={{image}}><br>

                                <p>اضافة صوره</p>
                            </div>
                        </ion-col>
                     
                </ion-row>
                
                <p class="audio">
                        <audio src={{audioRecord}} controls></audio>
                       </p>  
                       <ion-spinner class="spinners" *ngIf="spinnerFlag" name="bubbles"></ion-spinner>

    
                <button *ngIf="!spinnerFlag"  (click)="ask()" ion-button block class="enter">اطرح السؤال</button>
            </form>

            </div>
</ion-content>
