<div>
  <ion-row class="headerrow">
    <!-- <ion-col col-2 class="imgcol"> 
      
    </ion-col> -->
    <ion-col col-3 class="imgcol"> 
        <ion-buttons left navPop style="float:left">
            <button ion-button icon-only style="display:inline;background: transparent;box-shadow: none;">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
          <ion-icon class="notify" name="notifications"></ion-icon>
      
    </ion-col>
    <ion-col col-7 class="col7"><p>{{text}}</p></ion-col>
    <ion-col col-2 class="imgcol"><ion-icon class="menu" name="menu"></ion-icon></ion-col>
 </ion-row>

 
</div>
